# Backend API
VITE_API_BASE_URL=http://localhost:8081

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyBN1Mgp_lwoIs8cuyHRqYPCsXL0mdmsIfA"
VITE_FIREBASE_AUTH_DOMAIN="chatting-bd796.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="chatting-bd796"
VITE_FIREBASE_STORAGE_BUCKET="chatting-bd796.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="972715044765"
VITE_FIREBASE_APP_ID="1:972715044765:web:bc26bdc4cb8503b2a84974"

# Claude AI API
VITE_CLAUDE_API_KEY=your_claude_api_key
