rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // 개발용: 인증 여부와 상관없이 전체 읽기/쓰기 허용
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
